*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build output
app/build/
build/

# APK / AAB / compiled
*.apk
*.aab
*.ap_
*.dex
*.class

# Keystore
*.jks
*.keystore

# Logs
*.log

# OS
Thumbs.db
